
extends layout

block content 
  .main
    section.title-page
      .cube-fx
        .axis-x
          .axis-y
            .axis-z
              .pane-r
              .pane-g
              .pane-b
              .pane-c
              .pane-m
              .pane-y
      h1.title Jehan Tremback
      h2.email jehan.tremback@gmail.com

    section.project-page.nginx-page
      .bg-image.nginx-image

    section.project-page.eros-page
      .bg-image.eros-image

    section.project-page.hypothesis-page
      .bg-image.hypothesis-image

    section.project-page.chronometer-page
      .bg-image.chronometer-image

    section.project-page.expdesigner-page
      .bg-image.expdesigner-image
