
extends layout

block content 
  .main
    section.title-page
      .cube-fx
        .axis-x
          .axis-y
            .axis-z
              .pane-r
              .pane-g
              .pane-b
              .pane-c
              .pane-m
              .pane-y
      h1.title Jehan Tremback
      h2.email jehan.tremback@gmail.com
      .scroll-down.js-scrolldown
        //- img(src="./images/down.png")

    section.project-page.nginx-page
      .bg-image.nginx-image.js-toggle-description
      .description.js-description.js-toggle-description
        .description-text
          .description-text-box
            h1 NGINX website
            p I redesigned <a href="http://www.nginx.com">http://nginx.com</a> for the company behind the wildly popular open source server software NGINX. The NGINX team wanted a web presence that was clean and professional, yet conveyed a certain playfulness and sense of fun. We designed and developed a flexible and attractive site, with layout, typography, infographics, and illustrations. The site is completely responsive and displays well on mobile, tablet, and desktop.

    section.project-page.eros-page
      .bg-image.eros-image.js-toggle-description
      .description.js-description.js-toggle-description
        .description-text
          .description-text-box
            h1 FOS apps
            p I designed this trio of concept apps for the <a href="http://www.kickstarter.com/projects/erogear/fos-a-truly-wearable-bluetooth-led-display-system">Eros Fos Kickstarter</a>. Fos is a flexible LED display that can be sewn into clothing, and I was tasked with designing three apps to show what it could be used for.

            p Joggly is a fitness tracking app that shows the user stats about their run, as well as playing music. It connects to the Fos display to display stats and animations while the user is exercising.

            p Sparklemotion is a dance app. It allows the user to select from a range of music visualizations. The selected visualization is then displayed on Fos.

            p Cyclomatic is a cycling app which shows the user the best route to take, as well as providing synchronized turn signals on the Fos display to improve safety while biking.

    section.project-page.hypothesis-page
      .bg-image.hypothesis-image.js-toggle-description
      .description.js-description.js-toggle-description
        .description-text
          .description-text-box
            h1 Hypothesis
            p <a href="http://hypothes.is/what-is-it/">Hypothesis</a> is a non profit organization building a distributed, open source platform for the collaborative evaluation of information. Right now, this consists of a tool to annotate websites, books, and academic papers.
            p These annotations are visible to anyone else who has the extension installed. A reputation system lets users vote on and flag annotations, bringing the best to the top. This will allow people to collaborate on and extend any information online, calling out inaccuracies at their source, and improving the internet for everyone. 

            p I designed the entire interface from scratch, iterating through hundreds of mockups and sketches and writing all of the html/css and some of the Javascript. I focused on making what could have been a complex and unwieldy interface into something minimal, simple, and easy. I also handled the organization’s web presence, designing the main informational site and blog, as well as several websites for conferences and events organized by Hypothesis.

    section.project-page.chronometer-page
      .bg-image.chronometer-image.js-toggle-description
      .description.js-description.js-toggle-description
        .description-text
          .description-text-box
            h1 Chronometer
            p.
              Most clocks on smartphones require at least three steps to even set a simple timer. I wanted to change this with a one touch interface.
            p.
              The user is able to set timers and alarms by touching and dragging on either the minute or hour hands. A pointer detaches and is dropped at the time the user wants the timer or alarm to sound (the minute hand pointer sets the timer and the hour hand sets the row).
            p.
              Chronometer syncs with the user’s calendar to get the user’s appointments. The appointments are displayed around the edge of the clockface as semitransparent arcs. A touch on one of the arcs pops the details of the calendar item over the clockface.

    section.project-page.expdesigner-page
      .bg-image.expdesigner-image.js-toggle-description
      .description.js-description.js-toggle-description
        .description-text
          .description-text-box
            h1 Expression Designer
            p BioFab is a project of the Lawrence Berkeley National Laboratory, aiming to be the “world’s first biological design-build facility”.

            p BioFab has put together a huge database of DNA snippets. These snippets can be combined in various ways with genes, controlling what quantity of the gene is produced, and the gene’s reliability across organisms. BioFab’s research allows scientists to fine-tune exactly how an inserted gene will behave, and where it will work.

            p Working in close collaboration with their software lead, Marc Juul, I designed the Expression Designer to allow researchers to to quickly sift through the large volumes of data that BioFab has produced. 

            ul
              li The user selects a range of performance with the main slider.
              li The user adds constraints, filtering by sequences they wish to include and exclude.
              li The user receives a list of Expression Operating Units (EOU’s) represented by expandable widgets.


